// Nosotros

// #icon-crown {
//   transform: scale(calc(var(--parallax-pos) / -100));
//   transform-origin: center;
// }
// #icon-k {
//   transform: translateY(calc(var(--parallax-pos) * 1px + 50px));
//   transform-origin: center;
// }
// #icon-column {
//   transform: translateY(calc(var(--parallax-pos) * 2px + 100px));
//   transform-origin: center;
// }

// Header
@keyframes logo-intro {
  0% {
    transform:
      translateX(var(--logo-x, 0em))
      translateY(calc(25vh - 25% /*- var(--logo-y, 0em)*/));
  }
  100% {
    transform: none;
  }
}
#body-home,
.type-location {
  #header {
    .image {
      animation: logo-intro 1.125s 1s both;
      // @media (min-width: $viewport-lg) {
      //   --logo-x: 17em;
      //   --logo-y: 1em;
      // }
    }
    @mixin show-from($delay) {
      animation: show-from .5s (1.5 + .125s * $delay) both;
    }
    .button            { @include show-from(1); }
    .subtitle          { @include show-from(2); }
    .md p:nth-child(1) { @include show-from(3); }
    .md p:nth-child(2) { @include show-from(4); }
    li:nth-child(1)    { @include show-from(5); }
    li:nth-child(2)    { @include show-from(6); }
    li:nth-child(3)    { @include show-from(7); }
  }
}
